################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebTestResultsExtensions/.vs/WebTestResultsExtensions/v15
