################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebTestResultsExtensions/.vs/WebTestResultsExtensions/v15
/WebTestResultsExtensions/CommonUserControl/bin/Debug
/WebTestResultsExtensions/CommonUserControl/obj
/WebTestResultsExtensions/WebTestResultsExtensions2015/bin/Debug
/WebTestResultsExtensions/WebTestResultsExtensions2015/obj/Debug
/.vs
/WebTestResultsExtensions/WebTestResultsExtensions/obj
